<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyou.customview">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_android"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.BezierWaterActivity"></activity>
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.CircleImgActivity" />
        <activity android:name=".activity.SpiderActivity" />
        <activity android:name=".activity.FiveStarActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".activity.AliPlayActivity"
            android:label="@string/title_activity_ali_play"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>